* {
    font-family: Verdana;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: normal;
}

/*Header*/
header h1 {
    font-size: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: Verdana;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

/* Video */
p video  {
    padding-top: 15px;
}

/* Uses sction */
main h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    padding-top: 30px;
    padding-bottom: 10px;
}

main h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
    padding: 10px;
    padding-bottom: 0;
}

main img {
    width: 66%;
    height: auto;
    position: relative;
    bottom: 15px;
    padding: 0;
}

/* Coming soon */
h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    font-family: Verdana;
}
p img  {
    width: 70px;
    height: auto;
    margin-top: 30px;
    padding: 0;
}
p {
    margin: 0;
}

/* Footer */
footer {
    padding: 20px 20px 0 20px;
    margin: 0;
}

footer h6 {
    text-align: right;
    color: gray;
    font-size: 21px;
    margin: 0 0 10px 0;
}